IPv6 neighbour discovery fails when babeld is running

I'm one of the maintainer of re6st (https://re6st.nexedi.com).

We are using latest version of babeld with hmac (with master merged on hmac) : https://lab.nexedi.com/nexedi/babeld/commits/master

Since we upgraded babeld on version 1.8.4 (we were using v1.6.2 previously), we experience from time to time a problem of networking when babeld is running on machines of the same LAN: we can't ping the link local IPv6 address of one machine. If we debug a bit further, we can see that the kernel of the faulty machine is not replying to the "who has" neighbor sollicitation.

As soon as we kill babeld on the faulty machine, the kernel starts to reply again and we can ping the machine.


Note 1: this can happen also on virtual interfaces created by openvpn tunnels.
Note 2: ~~this can happen on different version of the kernel (we experienced it at least with up to date Debian 10 kernel and up to date Debian 9 kernel)~~
Note 3: we launch babel with the following command (option `-X` is not standard): `babeld -h 15 -H 15 -L /var/log/re6stnet/babeld.log -S /var/lib/re6stnet/babeld.state -I /var/run/re6stnet/babeld.pid -s -C ipv6-subtrees true -C redistribute local deny -C redistribute ip 2001:67c:1254:e:49::1/80 eq 80 -C default max-rtt-penalty 5000 rtt-max 500 rtt-decay 125 -C redistribute deny -C install pref-src 2001:67c:1254:e:49::1 -X /var/run/re6stnet/babeld.sock re6stnet-tcp re6stnet1 re6stnet2 re6stnet3 re6stnet4 re6stnet5 re6stnet6 re6stnet7 re6stnet8 re6stnet9 re6stnet10 eth0`
Note 4: the problem happen also with latest babeld + hmac feature (we merged master branch in hmac branch)

On the neighbour of the failing machine, we can see:
```
root@hydro66-leopard-000:~# ip -6 r get 2001:67c:1254:47::1
2001:67c:1254:47::1 from :: via fe80::e61d:2dff:fe52:eae4 dev ens1 proto babel src 2001:67c:1254:16::1 metric 1024 pref medium
root@hydro66-leopard-000:~# ping6 fe80::e61d:2dff:fe52:eae4%ens1
PING fe80::e61d:2dff:fe52:eae4%ens1(fe80::e61d:2dff:fe52:eae4%ens1) 56 data bytes
From fe80::f652:14ff:fefc:a494%ens1: icmp_seq=1 Destination unreachable: Address unreachable
From fe80::f652:14ff:fefc:a494%ens1: icmp_seq=2 Destination unreachable: Address unreachable
From fe80::f652:14ff:fefc:a494%ens1: icmp_seq=3 Destination unreachable: Address unreachable
From fe80::f652:14ff:fefc:a494%ens1: icmp_seq=4 Destination unreachable: Address unreachable
```

Here is a tcpdump on the failing machine:
```
09:22:12.780331 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:feb0:912c > ff02::1:ffa7:12c4: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fea7:12c4
          source link-address option (1), length 8 (1): f4:52:14:b0:91:2c
            0x0000:  f452 14b0 912c
09:22:12.871200 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::e61d:2dff:fe52:c17a > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): e4:1d:2d:52:c1:7a
            0x0000:  e41d 2d52 c17a
09:22:12.907397 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fef8:d5d0 > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:f8:d5:d0
            0x0000:  f452 14f8 d5d0
09:22:12.967731 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fefc:a494 > ff02::1:ff52:eae4: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::e61d:2dff:fe52:eae4
          source link-address option (1), length 8 (1): f4:52:14:fc:a4:94
            0x0000:  f452 14fc a494
09:22:13.376019 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fea6:f3e4 > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:a6:f3:e4
            0x0000:  f452 14a6 f3e4
09:22:13.463601 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fefd:174 > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:fd:01:74
            0x0000:  f452 14fd 0174
09:22:13.506580 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fea8:8b34 > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:a8:8b:34
            0x0000:  f452 14a8 8b34
09:22:13.509189 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fefc:5bce > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:fc:5b:ce
            0x0000:  f452 14fc 5bce
09:22:13.522059 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fefa:1a06 > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:fa:1a:06
            0x0000:  f452 14fa 1a06
09:22:13.671159 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fea6:8b98 > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:a6:8b:98
            0x0000:  f452 14a6 8b98
09:22:13.803374 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:feb0:912c > ff02::1:ffa7:12c4: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fea7:12c4
          source link-address option (1), length 8 (1): f4:52:14:b0:91:2c
            0x0000:  f452 14b0 912c
09:22:13.857245 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::f652:14ff:fefc:5fac > ff02::1:fffc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): f4:52:14:fc:5f:ac
            0x0000:  f452 14fc 5fac
```


After we kill babeld on the failing machine, we can ping it again:
```
root@hydro66-leopard-000:~# ping6 fe80::e61d:2dff:fe52:eae4%ens1
PING fe80::e61d:2dff:fe52:eae4%ens1(fe80::e61d:2dff:fe52:eae4%ens1) 56 data bytes
64 bytes from fe80::e61d:2dff:fe52:eae4%ens1: icmp_seq=1 ttl=64 time=2030 ms
64 bytes from fe80::e61d:2dff:fe52:eae4%ens1: icmp_seq=2 ttl=64 time=1024 ms
64 bytes from fe80::e61d:2dff:fe52:eae4%ens1: icmp_seq=3 ttl=64 time=0.176 ms
64 bytes from fe80::e61d:2dff:fe52:eae4%ens1: icmp_seq=4 ttl=64 time=0.108 ms
64 bytes from fe80::e61d:2dff:fe52:eae4%ens1: icmp_seq=5 ttl=64 time=0.129 ms
64 bytes from fe80::e61d:2dff:fe52:eae4%ens1: icmp_seq=6 ttl=64 time=0.127 ms
```



The main issue is that it takes weeks or month before the issue happens, so it's very hard to tell:
- if it's a software regression (this year, we had babeld upgrades, kernel upgrades, and so on)
- or if our network grows to a point it triggers an issue that has always been there

> Since we upgraded babeld on version 1.8.4

Here is our history version this year:
1. 1.6.2 (we were using for several years)
2. 1.8.4
3. merge of f8bce04ce5a8fe85c950ea2a0186fa30cbcebc2e (between 1.8.4 & 1.9.0) and 1a05694e17c55b8997c9f08deee3f853c7d68de2 (hmac)
4. merge of 1.9.1 and 91a925926f7ee26e7375c41d86c26d56a0fa0a35 (current hmac)

If it's a babeld regression, we don't know if it's since 2 or 3

All our network was upgraded from 1.6.2 & 1.8.4. After that, we didn't do a full upgrade. We are not using hmac yet.

> failing machine

Almost everything shows that the buggy machine is the "failing machine" as mentioned above. One things is strange: the "failing machine" receives neighbor solicitation packets with unusual destination addresses and that would explain why it does not reply to them.

But where do these `ff02::1:xxxx:xxxx` come from ?

> All our network was upgraded from 1.6.2 & 1.8.4

My mistake. We still have a few 1.6.2

> But where do these `ff02::1:xxxx:xxxx` come from ?

We just got the issue again between 2 other machines and here is a tcpdump from the other side:
```
17:30:33.767735 IP6 (flowlabel 0xc1589, hlim 64, next-header ICMPv6 (58) payload length: 64) fe80::8c4e:f4ff:fe46:b59b > fe80::c86e:7aff:fe85:2798: [icmp6 sum ok] ICMP6, echo request, seq 1
17:30:33.767783 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::c86e:7aff:fe85:2798 > ff02::1:ff46:b59b: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::8c4e:f4ff:fe46:b59b
          source link-address option (1), length 8 (1): ca:6e:7a:85:27:98
            0x0000:  ca6e 7a85 2798
```
It receives a ping and reacts with a wrong neighbor solicitation.

I think the NS is correct — the destination address of a NS is a "solicited node multicast address", see Section 2.7.1 of RFC 4291.

Could you please post the output of `ip -6 maddress show' on the offending node?


Please check that `/proc/sys/net/ipv4/conf/*/rp_filter` is 1; this should be done automatically, but the code to do that has changed in 1.9.

Please confirm that you're not running a firewalling daemon on the node.


Here is a failing machine:

```
root@hydro66-leopard-004:~# grep '' /proc/sys/net/ipv4/conf/*/rp_filter
/proc/sys/net/ipv4/conf/all/rp_filter:0
/proc/sys/net/ipv4/conf/default/rp_filter:0
/proc/sys/net/ipv4/conf/ens1/rp_filter:0
/proc/sys/net/ipv4/conf/lo/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet-tcp/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet1/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet10/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet2/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet3/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet4/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet5/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet6/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet7/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet8/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet9/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap0/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap1/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap2/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap3/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap4/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap5/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap6/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap7/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap8/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap9/rp_filter:0
root@hydro66-leopard-004:~# ip -6 maddress show
1:	lo
	inet6 ff02::1
	inet6 ff01::1
2:	ens1
	inet6 ff02::1:6
	inet6 ff02::1:ff00:0
	inet6 ff02::1:ffa7:12c4
	inet6 ff05::2
	inet6 ff01::2
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
14:	slaptap0
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
15:	slaptap1
	inet6 ff02::1:ff00:0
	inet6 ff02::1:ff6c:601c
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
16:	slaptap2
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
17:	slaptap3
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
18:	slaptap4
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
19:	slaptap5
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
20:	slaptap6
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
21:	slaptap7
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
22:	slaptap8
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
23:	slaptap9
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
68:	re6stnet-tcp
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff9a:858c
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
69:	re6stnet1
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:fff7:c072
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
70:	re6stnet2
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ffa3:526d
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
71:	re6stnet3
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff0b:5fab
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
72:	re6stnet4
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff78:19f5
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
73:	re6stnet5
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff6a:570c
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
74:	re6stnet6
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff6b:1f25
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
75:	re6stnet7
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff50:a5af
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
76:	re6stnet8
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff1e:f9d9
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
77:	re6stnet9
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff9e:146e
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
78:	re6stnet10
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ffbc:c30d
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
```

you can see that `rp_filter` is 0

For information, here are the same commands on the neigour working machine:

```
root@COMP-547-new:~# grep '' /proc/sys/net/ipv4/conf/*/rp_filter
/proc/sys/net/ipv4/conf/all/rp_filter:0
/proc/sys/net/ipv4/conf/default/rp_filter:1
/proc/sys/net/ipv4/conf/eno1/rp_filter:1
/proc/sys/net/ipv4/conf/eno2/rp_filter:1
/proc/sys/net/ipv4/conf/lo/rp_filter:1
/proc/sys/net/ipv4/conf/re6stnet10/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet1/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet2/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet3/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet4/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet5/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet6/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet7/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet8/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet9/rp_filter:0
/proc/sys/net/ipv4/conf/re6stnet-tcp/rp_filter:0
/proc/sys/net/ipv4/conf/slaptap0/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap1/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap2/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap3/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap4/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap5/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap6/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap7/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap8/rp_filter:1
/proc/sys/net/ipv4/conf/slaptap9/rp_filter:1
root@COMP-547-new:~# ip -6 maddress show
1:	lo
	inet6 ff02::1
	inet6 ff01::1
2:	eno1
	inet6 ff02::1:ff00:0
	inet6 ff02::1:ff71:81fa
	inet6 ff05::2
	inet6 ff01::2
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
3:	eno2
	inet6 ff05::2
	inet6 ff01::2
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
15:	slaptap0
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
16:	slaptap1
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
17:	slaptap2
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
18:	slaptap3
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
19:	slaptap4
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
20:	slaptap5
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
21:	slaptap6
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
22:	slaptap7
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
23:	slaptap8
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
24:	slaptap9
	inet6 ff02::1:ffff:ffff
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
69:	re6stnet-tcp
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff01:6e35
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
70:	re6stnet1
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff5e:8717
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
71:	re6stnet2
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ffab:654e
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
72:	re6stnet3
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ffd0:2aac
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
73:	re6stnet4
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff8b:e7f3
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
74:	re6stnet5
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff2c:67d5
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
75:	re6stnet6
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ffc8:2ca
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
76:	re6stnet7
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ffdb:9463
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
77:	re6stnet8
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff20:9927
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
78:	re6stnet9
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ff0e:8bfb
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
79:	re6stnet10
	inet6 ff02::1:ff00:0
	inet6 ff02::1:6
	inet6 ff02::1:ffe6:62fc
	inet6 ff02::2
	inet6 ff02::1
	inet6 ff01::1
```

Which is the failing interface?

For the case above, it was `re6stnet-tcp` (it was a openvpn tunnel)

Please `ip -6 addr show`.


> I think the NS is correct — the destination address of a NS is a "solicited node multicast address", see Section 2.7.1 of RFC 4291.

I didn't know this. What is "NS" ?

I'm also surprised because when when there's no issue, we see:
```
13:26:29.191046 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 32) fe80::e61d:2dff:fe52:eae4 > fe80::f652:14ff:fefc:3e58: [icmp6 sum ok] ICMP6, neighbor solicitation, length 32, who has fe80::f652:14ff:fefc:3e58
          source link-address option (1), length 8 (1): e4:1d:2d:52:ea:e4
            0x0000:  e41d 2d52 eae4
13:26:29.191156 IP6 (hlim 255, next-header ICMPv6 (58) payload length: 24) fe80::f652:14ff:fefc:3e58 > fe80::e61d:2dff:fe52:eae4: [icmp6 sum ok] ICMP6, neighbor advertisement, length 24, tgt is fe80::f652:14ff:fefc:3e58, Flags [router, solicited]
```

> I didn't know this. What is "NS" ?

Neighbour Solicitation

> I'm also surprised because when when there's no issue, we see:

> [...] fe80::e61d:2dff:fe52:eae4 > fe80::f652:14ff:fefc:3e58 [...]

Please see RFC 4861 Section 4.3:

    Neighbor Solicitations are multicast when the node needs
    to resolve an address and unicast when the node seeks to verify the
    reachability of a neighbor.

See also Section 7.3.1:

    When no hints are available
    and a node is sending packets to a neighbor, the node actively probes
    the neighbor using unicast Neighbor Solicitation messages to verify
    that the forward path is still working.

The problematic node had no link-layer address for the neighbour, so it
was sending multicast solicitations.  The working node already has
a link-layer address, so it's merely confirming that it's still valid
using unicast.


This bug appears also with version 1.6.2 of babeld.

However, after more checks, it seems **the bug only appears with kernel v4.19** (Debian 10 kernel), if we downgrade to version 4.9 (Debian 9 kernel) we can't see the problem anymore. I edited the first comment to strikethrough the note 2.

Here is a detailed report about failing node with IPv6 `2001:67c:1254:8c::1` (hostname is `new1cloud-chinary-cm`) and a neighbour with IPv6 `2001:67c:1254:e:df::1` (hostname is `10-25-122-173`).




```
root@new1cloud-chinary-cm:~# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 10 (buster)
Release:        10
Codename:       buster
root@new1cloud-chinary-cm:~# uname -a
Linux new1cloud-chinary-cm 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u1 (2019-09-20) x86_64 GNU/Linux
root@new1cloud-chinary-cm:~# sysctl -a | grep autoconf
net.ipv6.conf.all.autoconf = 1
net.ipv6.conf.default.autoconf = 1
net.ipv6.conf.eno1.autoconf = 1
net.ipv6.conf.eno2.autoconf = 1
net.ipv6.conf.eno3.autoconf = 1
net.ipv6.conf.eno4.autoconf = 1
net.ipv6.conf.lo.autoconf = 1
net.ipv6.conf.re6stnet-tcp.autoconf = 1
net.ipv6.conf.re6stnet1.autoconf = 1
net.ipv6.conf.re6stnet10.autoconf = 1
net.ipv6.conf.re6stnet2.autoconf = 1
net.ipv6.conf.re6stnet3.autoconf = 1
net.ipv6.conf.re6stnet4.autoconf = 1
net.ipv6.conf.re6stnet5.autoconf = 1
net.ipv6.conf.re6stnet6.autoconf = 1
net.ipv6.conf.re6stnet7.autoconf = 1
net.ipv6.conf.re6stnet8.autoconf = 1
net.ipv6.conf.re6stnet9.autoconf = 1
net.ipv6.conf.slaptap0.autoconf = 1
net.ipv6.conf.slaptap1.autoconf = 1
net.ipv6.conf.slaptap2.autoconf = 1
net.ipv6.conf.slaptap3.autoconf = 1
net.ipv6.conf.slaptap4.autoconf = 1
net.ipv6.conf.slaptap5.autoconf = 1
net.ipv6.conf.slaptap6.autoconf = 1
net.ipv6.conf.slaptap7.autoconf = 1
net.ipv6.conf.slaptap8.autoconf = 1
net.ipv6.conf.slaptap9.autoconf = 1
root@new1cloud-chinary-cm:~# ip -6 a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 state UNKNOWN qlen 1000
    inet6 2001:67c:1254:8c::1/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::1c6e/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::c51f/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::7743/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::9b3e/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::98c/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::34e/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::fcb2/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::7c28/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::aa94/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:8c::55e3/64 scope global 
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host 
       valid_lft forever preferred_lft forever
2: eno1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 1000
    inet6 fe80::baca:3aff:fe68:3008/64 scope link 
       valid_lft forever preferred_lft forever
28: slaptap0: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:6ba9:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
29: slaptap1: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:6589:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
30: slaptap2: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:7868:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
31: slaptap3: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:fa96:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
32: slaptap4: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:d1e8:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
33: slaptap5: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:598b:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
34: slaptap6: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:f29f:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
35: slaptap7: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:b50f:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
36: slaptap8: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:ad6d:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
37: slaptap9: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:8c:e54d:ffff:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
173: re6stnet-tcp: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UNKNOWN qlen 100
    inet6 fe80::e0f3:c3ff:feff:4aa2/64 scope link 
       valid_lft forever preferred_lft forever
174: re6stnet1: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::645d:fcff:fe1a:1103/64 scope link 
       valid_lft forever preferred_lft forever
175: re6stnet2: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::d89a:c3ff:fe49:627b/64 scope link 
       valid_lft forever preferred_lft forever
176: re6stnet3: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::f04e:92ff:fe10:eecd/64 scope link 
       valid_lft forever preferred_lft forever
177: re6stnet4: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::3cc9:b7ff:fe89:eb6f/64 scope link 
       valid_lft forever preferred_lft forever
179: re6stnet6: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::7cbb:dbff:fe63:5da3/64 scope link 
       valid_lft forever preferred_lft forever
180: re6stnet7: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::c88d:6ff:fe84:383b/64 scope link 
       valid_lft forever preferred_lft forever
181: re6stnet8: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::18a5:8dff:fe5e:81e8/64 scope link 
       valid_lft forever preferred_lft forever
182: re6stnet9: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::8840:e5ff:fe09:4565/64 scope link 
       valid_lft forever preferred_lft forever
183: re6stnet10: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::7486:a3ff:fe26:cc4a/64 scope link 
       valid_lft forever preferred_lft forever
root@new1cloud-chinary-cm:~# ip -6 neigh
fe80::2c77:fbff:fed1:d2e0 dev re6stnet-tcp lladdr 2e:77:fb:d1:d2:e0 router STALE
fe80::98ac:42ff:fe34:55cf dev re6stnet-tcp lladdr 9a:ac:42:34:55:cf router DELAY
fe80::76a4:b5ff:fe00:59dc dev eno1 lladdr 74:a4:b5:00:59:dc STALE
fe80::1c88:70ff:fe8c:9eb9 dev re6stnet-tcp  router FAILED
fe80::3460:4bff:fed9:e394 dev re6stnet7 lladdr 36:60:4b:d9:e3:94 router STALE
fe80::88fd:81ff:fec8:7b6a dev re6stnet8 lladdr 8a:fd:81:c8:7b:6a router STALE
fe80::40f3:77ff:fe6e:e2c7 dev re6stnet4 lladdr 42:f3:77:6e:e2:c7 router STALE
fe80::266e:96ff:fe2c:a30 dev eno1 lladdr 24:6e:96:2c:0a:30 STALE
fe80::c0c4:e509:78a1:192d dev eno1 lladdr 12:42:06:ee:7e:38 STALE
fe80::8084:c7ff:fe33:cca5 dev re6stnet-tcp lladdr 82:84:c7:33:cc:a5 router STALE
fe80::bcff:f8ff:fe7b:e77a dev re6stnet-tcp lladdr be:ff:f8:7b:e7:7a router STALE
fe80::266e:96ff:fe2c:a8a8 dev eno1 lladdr 24:6e:96:2c:a8:a8 STALE
fe80::ce:a2ff:fe5a:3193 dev re6stnet1 lladdr 02:ce:a2:5a:31:93 router STALE
fe80::76a4:b5ff:fe00:5394 dev eno1 lladdr 74:a4:b5:00:53:94 STALE
fe80::6a91:d0ff:fe61:3a1a dev eno1 lladdr 68:91:d0:61:3a:1a STALE
fe80::6a91:d0ff:fe61:3c08 dev eno1 lladdr 68:91:d0:61:3c:08 STALE
fe80::78e7:57ff:fe3f:aeeb dev re6stnet-tcp lladdr 7a:e7:57:3f:ae:eb router STALE
fe80::6a91:d0ff:fe63:29cd dev eno1 lladdr 68:91:d0:63:29:cd STALE
fe80::1053:21ff:fe53:ace3 dev re6stnet-tcp lladdr 12:53:21:53:ac:e3 router STALE
fe80::f0e0:d7ff:fe90:51fe dev re6stnet-tcp lladdr f2:e0:d7:90:51:fe router STALE
fe80::764d:28ff:fe6e:a6b5 dev eno1 lladdr 74:4d:28:6e:a6:b5 router STALE
fe80::7cce:8fff:fe3f:261e dev re6stnet6 lladdr 7e:ce:8f:3f:26:1e router STALE
fe80::8205:88ff:fe41:9060 dev eno1 lladdr 80:05:88:41:90:60 router STALE
fe80::a002:bcff:fea5:1349 dev re6stnet-tcp  router FAILED
fe80::6a91:d0ff:fe63:2a05 dev eno1 lladdr 68:91:d0:63:2a:05 STALE
fe80::8480:bdff:fe48:3ac5 dev re6stnet10  router FAILED
fe80::6c84:e0ff:fee6:3071 dev re6stnet-tcp lladdr 6e:84:e0:e6:30:71 router STALE
fe80::6c0e:14ff:feba:8dae dev re6stnet-tcp lladdr 6e:0e:14:ba:8d:ae router STALE
fe80::b805:fdff:fe08:4270 dev re6stnet6 lladdr ba:05:fd:08:42:70 router STALE
fe80::48e8:59ff:fe06:d126 dev re6stnet-tcp  router FAILED
fe80::38f0:25ff:fe1a:b9c dev re6stnet3 lladdr 3a:f0:25:1a:0b:9c router STALE
fe80::a0c3:b5ff:fe7c:df43 dev re6stnet-tcp lladdr a2:c3:b5:7c:df:43 router STALE
fe80::3838:f9ff:fe43:94ec dev re6stnet9 lladdr 3a:38:f9:43:94:ec router STALE
fe80::e404:3eff:fe3f:3d58 dev re6stnet-tcp lladdr e6:04:3e:3f:3d:58 router STALE
fe80::92b1:1cff:fe12:b20a dev eno1 lladdr 90:b1:1c:12:b2:0a STALE
fe80::834:86ff:febf:3689 dev re6stnet2 lladdr 0a:34:86:bf:36:89 router STALE
fe80::1877:92ff:fedc:d29 dev re6stnet-tcp  router FAILED
```



```
root@10-25-122-173:~# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 8.2 (jessie)
Release:        8.2
Codename:       jessie
root@10-25-122-173:~# uname -a
Linux 10-25-122-173 4.9.0-0.bpo.7-amd64 #1 SMP Debian 4.9.110-3+deb9u2~deb8u1 (2018-08-14) x86_64 GNU/Linux
root@10-25-122-173:~# ip -6 r | grep 2001:67c:1254:8c:
2001:67c:1254:8c::/64 via fe80::e0f3:c3ff:feff:4aa2 dev re6stnet6  proto 42  src 2001:67c:1254:e:df::1  metric 1024 
root@10-25-122-173:~# ping6 fe80::e0f3:c3ff:feff:4aa2%re6stnet6
PING fe80::e0f3:c3ff:feff:4aa2%re6stnet6(fe80::e0f3:c3ff:feff:4aa2) 56 data bytes
From fe80::98ac:42ff:fe34:55cf icmp_seq=1 Destination unreachable: Address unreachable
From fe80::98ac:42ff:fe34:55cf icmp_seq=2 Destination unreachable: Address unreachable
From fe80::98ac:42ff:fe34:55cf icmp_seq=3 Destination unreachable: Address unreachable
^C
--- fe80::e0f3:c3ff:feff:4aa2%re6stnet6 ping statistics ---
5 packets transmitted, 0 received, +3 errors, 100% packet loss, time 4100ms

root@10-25-122-173:~# ip -6 a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 state UNKNOWN qlen 1
    inet6 2001:67c:1254:e:df::1/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::c16e/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::3400/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::4a71/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::c36d/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::16e6/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::6441/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::2285/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::b16b/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::cf92/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 2001:67c:1254:e:df::f90b/80 scope global 
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host 
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1454 state UP qlen 1000
    inet6 fe80::5054:ff:fee1:8435/64 scope link 
       valid_lft forever preferred_lft forever
6: chucloud@NONE: <POINTOPOINT,NOARP,UP,LOWER_UP> mtu 1430 state UNKNOWN qlen 1
    inet6 fe80::5efe:a19:7aad/64 scope link 
       valid_lft forever preferred_lft forever
17: hkucloud@NONE: <POINTOPOINT,NOARP,UP,LOWER_UP> mtu 1434 state UNKNOWN qlen 1
    inet6 fe80::a19:7aad/64 scope link 
       valid_lft forever preferred_lft forever
19: slaptap0: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:2b35:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
20: slaptap1: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:42d7:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
21: slaptap2: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:f1e4:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
22: slaptap3: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:cf07:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
23: slaptap4: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:9a2:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
24: slaptap5: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:8f94:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
25: slaptap6: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:9a74:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
26: slaptap7: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:3f4e:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
27: slaptap8: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:52e6:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
28: slaptap9: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 1000
    inet6 2001:67c:1254:e:df:1d91:ffff:ffff/128 scope global tentative 
       valid_lft forever preferred_lft forever
29: ucloudtk@NONE: <POINTOPOINT,NOARP,UP,LOWER_UP> mtu 1430 state UNKNOWN qlen 1
    inet6 fe80::5efe:a19:7aad/64 scope link 
       valid_lft forever preferred_lft forever
125: re6stnet-tcp: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UNKNOWN qlen 100
    inet6 fe80::2033:f2ff:fe9e:9571/64 scope link 
       valid_lft forever preferred_lft forever
127: re6stnet2: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::54e0:69ff:fe72:a568/64 scope link 
       valid_lft forever preferred_lft forever
128: re6stnet3: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::74af:d7ff:fe80:55d2/64 scope link 
       valid_lft forever preferred_lft forever
129: re6stnet4: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::f490:5dff:fe4e:4980/64 scope link 
       valid_lft forever preferred_lft forever
131: re6stnet6: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::98ac:42ff:fe34:55cf/64 scope link 
       valid_lft forever preferred_lft forever
132: re6stnet7: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::3c11:b1ff:fe99:cf38/64 scope link 
       valid_lft forever preferred_lft forever
133: re6stnet8: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::1864:56ff:fe53:86d4/64 scope link 
       valid_lft forever preferred_lft forever
134: re6stnet9: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 state DOWN qlen 100
    inet6 fe80::6451:19ff:feb3:bdc1/64 scope link 
       valid_lft forever preferred_lft forever
135: re6stnet10: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 100
    inet6 fe80::c01a:89ff:fe3a:e525/64 scope link 
       valid_lft forever preferred_lft forever
root@10-25-122-173:~# ip -6 neigh
fe80::8480:bdff:fe48:3ac5 dev re6stnet10  router INCOMPLETE
fe80::98da:f7ff:fe49:d42 dev re6stnet-tcp lladdr 9a:da:f7:49:0d:42 router REACHABLE
fe80::645f:f1ff:fe35:5e28 dev re6stnet-tcp lladdr 66:5f:f1:35:5e:28 router DELAY
fe80::4886:20ff:fe71:6846 dev re6stnet2 lladdr 4a:86:20:71:68:46 router DELAY
fe80::402a:e0ff:fe9e:9eb2 dev re6stnet4  router FAILED
fe80::88fd:81ff:fec8:7b6a dev re6stnet7 lladdr 8a:fd:81:c8:7b:6a router STALE
fe80::78c8:bbff:fedd:1d87 dev re6stnet-tcp lladdr 7a:c8:bb:dd:1d:87 router STALE
fe80::8c15:f9ff:fe26:29b3 dev re6stnet-tcp lladdr 8e:15:f9:26:29:b3 router REACHABLE
fe80::2cca:33ff:fe59:4865 dev re6stnet-tcp lladdr 2e:ca:33:59:48:65 router STALE
fe80::b805:fdff:fe08:4270 dev re6stnet8 lladdr ba:05:fd:08:42:70 router DELAY
fe80::20a5:a3ff:fe3c:d960 dev re6stnet-tcp lladdr 22:a5:a3:3c:d9:60 router STALE
fe80::2c77:fbff:fed1:d2e0 dev re6stnet-tcp lladdr 2e:77:fb:d1:d2:e0 router STALE
fe80::58b6:f0ff:fede:1361 dev re6stnet-tcp lladdr 5a:b6:f0:de:13:61 router REACHABLE
fe80::949b:59ff:fe37:9f44 dev re6stnet-tcp lladdr 96:9b:59:37:9f:44 router REACHABLE
fe80::40f3:77ff:fe6e:e2c7 dev re6stnet9 lladdr 42:f3:77:6e:e2:c7 router STALE
fe80::e87d:2fff:fe54:98f6 dev re6stnet-tcp lladdr ea:7d:2f:54:98:f6 router REACHABLE
fe80::83a:e5ff:fe9e:1620 dev re6stnet3 lladdr 0a:3a:e5:9e:16:20 router REACHABLE
fe80::1c04:e1ff:fe77:d210 dev re6stnet-tcp lladdr 1e:04:e1:77:d2:10 router REACHABLE
fe80::e0f3:c3ff:feff:4aa2 dev re6stnet6  router INCOMPLETE
root@10-25-122-173:~# sysctl -a 2>&1 | grep autoconf
net.ipv6.conf.all.autoconf = 1
net.ipv6.conf.chucloud.autoconf = 1
net.ipv6.conf.default.autoconf = 1
net.ipv6.conf.eth0.autoconf = 1
net.ipv6.conf.gre0.autoconf = 1
net.ipv6.conf.gretap0.autoconf = 1
net.ipv6.conf.hkucloud.autoconf = 1
net.ipv6.conf.lo.autoconf = 1
net.ipv6.conf.re6stnet-tcp.autoconf = 1
net.ipv6.conf.re6stnet1.autoconf = 1
net.ipv6.conf.re6stnet10.autoconf = 1
net.ipv6.conf.re6stnet2.autoconf = 1
net.ipv6.conf.re6stnet3.autoconf = 1
net.ipv6.conf.re6stnet4.autoconf = 1
net.ipv6.conf.re6stnet5.autoconf = 1
net.ipv6.conf.re6stnet6.autoconf = 1
net.ipv6.conf.re6stnet7.autoconf = 1
net.ipv6.conf.re6stnet8.autoconf = 1
net.ipv6.conf.re6stnet9.autoconf = 1
net.ipv6.conf.sit0.autoconf = 1
net.ipv6.conf.slaptap0.autoconf = 1
net.ipv6.conf.slaptap1.autoconf = 1
net.ipv6.conf.slaptap2.autoconf = 1
net.ipv6.conf.slaptap3.autoconf = 1
net.ipv6.conf.slaptap4.autoconf = 1
net.ipv6.conf.slaptap5.autoconf = 1
net.ipv6.conf.slaptap6.autoconf = 1
net.ipv6.conf.slaptap7.autoconf = 1
net.ipv6.conf.slaptap8.autoconf = 1
net.ipv6.conf.slaptap9.autoconf = 1
net.ipv6.conf.ucloudtk.autoconf = 1
```


let me know if you need more information






After a lengthy debugging session over e-mail, we've determined this is a kernel bug.  A workaround is to increase the size of the kernel's route cache:

    sysctl -w net.ipv6.route.max_size=65536

Closing for now, please feel free to reopen if you disagree with this resolution.


The kernel may be fixed.

On machines where the bug happened quite quickly, our workaround was to downgrade to 4.9.189-3+deb9u2 (from 4.19.67-2+deb10u1). Later, on one of them, we upgraded to 4.19.87-1 and no issue so far.

But we had another bug in our network and we think it triggered the kernel bug by increasing the number of neighbors on some nodes. We fixed it shortly after we started to test 4.19.87-1.
 
As long as we haven't reproduced the issue in some kind of demo with many nodes using namespaces, we won't be 100% sure of anything.

This is possibly linked to https://lore.kernel.org/netdev/20200305081747.tullbdlj66yf3w2w@mew.swordarmor.fr/

See links to the Bird mailing lists in this email

If you have more inputs to share in the kernel’s ML thread, I’m interested. Because I’m not a programmer and I don’t have any platform really suitable for tests like this.

Hello all,

I would like to share the information we gathered regarding this issue:

- net.ipv6.route.max_size limits the number of dst_entry instances
- As a result of a refactoring in 4.15 or 4.16 of data structures used for IPv6 routing cache, dst_entries instances in per-cpu dst caches are counted towards the max_size limit
- Therefore, (lots of cpus) x (lots of unique connections) will cause max_size to quickly be reached, which causes the loss of IPv6 connectivity

This should explain why the bug appeared, as the two paris-winterfell machines had large number of CPUs and were handling large amounts of unique connections.  

In v5.8 a patch was pushed upstream which removes the per-cpu dst caches from the counting (there is an explanation here). This should prevent the bug from happenning, however I did not find anyone confirming this. I saw some people mention they still had the bug on 5.4 LTS.

If we don't upgrade to 5.8, it seems we need to increase max_size especially on high CPU machines. We found multiple sources where this workaround was used:

- Unbreakable Enterprise Kernel Release from Oracle Linux uses max_size=32768 : https://docs.oracle.com/en/operating-systems/uek/6/relnotes6.1/uek6-known-issues.html#uek6-issues-30976607
- Bird users mailing lists also suggests adjusting gc_thresh to avoid running the garbage collector too often : http://trubka.network.cz/pipermail/bird-users/2020-September/014880.html
- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=861115
- https://blog.csdn.net/weixin_39246554/article/details/109845522



Finally, the kernel emits a warning like this only starting in 5.1 version:
```
Route cache is full: consider increasing sysctl net.ipv[4|6].route.max_size.
```
So between version 4.16 and 5.0 (especially 4.19), we are in a situation where the user has no clue what is happening.

I'm wondering if babeld could help detecting the situation somehow or at least document the possible issue ?



> I'm wondering if babeld could help detecting the situation somehow or at least document the possible issue ?

In principle, babeld handles errors gracefully, and will log a message then recover if installing a route fails.  Of course, this is ccomplex low-level code, so there might be bugs.

It is my understanding that what happens here is more involved.  Babeld installs a bunch of routes in the kernel, which saturate the root cache.  Due to babeld's routes, neighbour discovery fails later on, so babeld never receives an error indication.

We are already hacking around some kernel bugs, I have no objection to adding an extra case if it fixes your issue.  But I have no ideas.

>     * Bird users mailing lists also suggests adjusting gc_thresh to avoid running the garbage collector too often : http://trubka.network.cz/pipermail/bird-users/2020-September/014880.html

Setting `net.ipv6.route.gc_thresh = -1` on core routers fixed the issue for me, it did not fix it for edge routers connected to IXP though. I had to downgrade to a 4.14 kernel there. I didn’t tried a 5.8 or 5.10 yet.

Probably fixed with more recent kernels.  Please reopen if it is still relevant.